/*
	Author: Marilee Zafaripour
	File: tables.css

*/

table
{
	width: 100%;
}

table th
{
	background-color: #a06a34;
	font-weight: bold;

}
#header
{
	color: blue;
}

td, th
{
	text-align: center;
	padding: 10px;
	background-color: white;
}

#morning
{
	background-color: #aa8cc5;
}

#music
{
	background-color: #99cc99;
}

#lunch
{
	background-color: #b2b2b2;
}
#story
{
	background-color: #D2B48C;
}
#mic
{
	background-color: #e8d9c5;
}